body {
  padding: 50px;
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

div.commit {
    margin-bottom: 20px;
}

div.commit a {
    padding: 5px;
}

div.message {
    background: #EEEEEE;
    font-size: 20px;
    font-style: italic;
    padding: 10px;
}